/* ==========================================================================
	 Base Styles
	 ========================================================================== */ 

  *,
   *::before,
   *::after {
	 box-sizing: border-box;
   }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .display-flex {
    display: flex;
  }
  .container {
    position: relative;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @media (min-width: 576px) {
    .container {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

/* ==========================================================================
	 Typography
	 ========================================================================== */  
  
  body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    color: #fff;
    background-color: #0A1931;
    font-size: 1em; /* 16px */
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
  }
  h1 {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    font-size: 3rem; /* 48px */
  }
  h2 {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0.4em;
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 3rem; /* 48px */
    }
  }
  h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3125rem; /* 21px */
    margin-top: 2em;
    margin-bottom: 1em;
  }
  h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    margin: 0 auto 1em;
    color: rgba(255, 255, 255, 0.8);
  }
  @media (min-width: 576px) {
    p {
      font-size: 1rem; /* 16px */
    }
  }
  @media (min-width: 992px) {
    p {
      font-size: 1.125rem; /* 18px */
    }
  }
  ul {
    padding: 0 2em;
    margin: 1em auto;
  }
  li {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem; /* 14px */
    color: rgba(255, 255, 255, 0.8);
  }
  @media (min-width: 576px) {
    li {
      font-size: 1rem; /* 16px */
    }
  }
  @media (min-width: 992px) {
    li {
      font-size: 1.125rem; /* 18px */
    }
  }
  a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #FFC947;
    text-decoration: none;
    transition: color 0.2s;
  }
  a:hover {
    color: #fff;
  }
  strong {
    font-weight: 700;
    color: #fff;

  }
  hr {
    border: solid 1px rgba(255, 255, 255, 0.6);
    margin: 1.5em 0 3em;
  }

/* ==========================================================================
	 Header
	 ========================================================================== */   

.header {
  display: flex;
  align-items: center;
  background-color: #FFC947;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  top: 0;
}
@media (min-width: 576px) {
  .header {
    padding: 0 1.5rem;
  }
}
.header__title {
  font-family: "Oleo Script", cursive;
  font-weight: 400;
  font-size: 1.3125rem; /* 21px */
  line-height: 50px;
  color: #0A1931;
  z-index: 2;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 1.5rem; /* 24px */
    opacity: 1;
  }
}
.header__title a {
  font-family: "Oleo Script", cursive;
  font-weight: 400;
  color: #0A1931;
}

/* ==========================================================================
	 Page
	 ========================================================================== */  

.page {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}
.page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.page__intro {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .page__intro {
    padding: 6rem 0;
  }
}
.page__intro::before {
  opacity: 0.25;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/javascript-with-laptop-code-min.jpg);
  background-position: top left 10%;
  background-size: 400%;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .page__intro::before {
    background-size: 150%;
    background-position: top left;
  }
}
.page__intro p {
  color: #fff;
  max-width: 700px;
  text-align: center;
}
.page__intro img {
  display: block;
  width: 70px;
  height: auto;
  margin: 0 auto;
}
.page__intro p:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
	 Navigation
	 ========================================================================== */  

.nav {
  padding: 3rem 1.5rem 0 0;
  width: 25%;
}
.nav__group {
  margin-bottom: 1rem;
}
.nav__h4 {
  font-size: 0.75rem; /* 12px */
}
@media (min-width: 576px) {
  .nav__h4 {
    font-size: 0.875rem; /* 14px */
  }
}
.nav__article-list {
  padding: 0;
}
.nav__article-list li {
  font-size: 0.75rem; /* 12px */
  margin-bottom: 0.5em;
  list-style-type: none;
}
@media (min-width: 576px) {
  .nav__article-list li {
    font-size: 0.875rem; /* 14px */
  }
}


/* ==========================================================================
	 Main
	 ========================================================================== */  

.main {
  padding: 3rem 0;
  width: 75%;
  max-width: 700px;
  margin: 0 auto;
}
.main__article-subtitle {
  font-weight: 700;
}
.main__article-date {
  color: #fff;
  font-size: 0.75rem; /* 12px */
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .main__article-date {
    font-size: 0.875rem; /* 14px */
  }
}
@media (min-width: 992px) {
  .main__article-date {
    font-size: 1rem; /* 16px */
  }
}
.main__article-img {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .main__article-img {
    display: inline;
    float: right;
    width: 40%;
    max-width: 342px;
    margin: 0rem 0 1rem 1rem;
  }
}